@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");

/* CSS  Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Colours */
:root {
  --main-background: hsl(233, 47%, 7%);
  --card-background: hsl(244, 38%, 16%);
  --accent: hsl(277, 64%, 61%);
  --white: hsl(0, 0%, 100%);
  --transparent-white-main-p: hsla(0, 0%, 100%, 0.75);
  --transparent-white-stat-h: hsla(0, 0%, 100%, 0.6);
}

body {
  font-size: 15px;
  font-family: "Inter", sans-serif;
  font-family: "Lexend Deca", sans-serif;
  color: var(--white);
}

img {
  width: 100%;
  height: 100%;
}

/* Grid Container */
.grid-container {
  background-color: var(--main-background);
  display: grid;
  height: 100vh;
  justify-content: center;
  align-content: center;
}

/* Card */
.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--card-background);
  width: 70rem;
  border-radius: 15px;
}

/* Content Left */
.content-left {
  display: grid;
  align-content: space-evenly;
  justify-items: center;
}

.heading {
  font-size: 18px;
  font-family: "inter";
  max-width: 70%;
}

.paragraph {
  max-width: 70%;
  line-height: 1.8;
  color: gray;
  margin-top: -3rem;
}

span {
  color: var(--accent);
}

/* Stats  */
.stats {
  display: flex;
  width: 70%;
  justify-content: space-between;
}

.stats > * {
  margin-right: 50px;
}

.stats h3 {
  font-size: 25px;
  font-family: "inter";
}

.stats p {
  color: grey;
  text-transform: uppercase;
  font-size: 13px;
  margin-top: 5px;
}

/* Content Right */
.content-right-overlay {
  background-color: hsla(277, 94%, 28%, 0.498);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
}

.content-right {
  position: relative;
}
.content-right-image {
  border-radius: 0 20px 20px 0;
  position: relative;
}

/* Mobile View 375px */

@media (max-width: 450px) {
  .card-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    width: 22rem;
    height: 50rem;
    text-align: center;
    border-radius: 20px;
  }
  .heading {
    font-size: 13px;
    font-family: "inter";
    max-width: 75%;
    margin-top: -17rem;
  }

  .paragraph {
    max-width: 75%;
    line-height: 1.8;
    color: gray;
    margin-top: -10rem;
  }

  .stats {
    display: flex;
    flex-direction: column;
    width: 20%;
  }

  .stats > * {
    margin-bottom: 20px;
  }

  .stats h3 {
    font-size: 25px;
    font-family: "inter";
  }

  .stats p {
    color: grey;
    text-transform: uppercase;
    font-size: 13px;
  }

  .content-right-image {
    border-radius: 20px 20px 0 0;
  }
  .content-right-overlay {
    border-radius: 20px 20px 0 0;
  }
}
