@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Violet: hsl(257, 40%, 49%);
  --Soft-Magenta: hsl(300, 69%, 71%);
}

body {
  /* Poppins for Headings */
  font-family: "Poppins", sans-serif;
  /* Open Sans for Body */
  font-family: "Open Sans", sans-serif;
  background-image: url(./images/bg-desktop.svg);
  background-color: var(--Violet);
}

/* Grid Wrapper */
.wrapper {
  display: grid;
  align-items: center;
  justify-items: center;
  min-height: 100vh;
  grid-template-columns: 1fr 1fr;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right bottom;
  position: relative;
}

/* Logo */
.logo {
  position: absolute;
  top: 5%;
  left: 5%;
}

/* Text Styles */
.title {
  font-family: "Poppins", sans-serif;
  font-size: 2.7rem;
  color: #fff;
  text-transform: capitalize;
  width: 75%;
}

p {
  color: rgba(255, 255, 255, 0.712);
  font-size: 1.1rem;
  line-height: 1.5;
  width: 75%;
}

/* Register Button */
button {
  color: var(--Violet);
  font-size: 1.3rem;
  background-color: #fff;
  width: 230px;
  height: 60px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.439);
  border: 0;
  border-radius: 30px;
  position: relative;
  right: 170px;
}

/* Button On Hover */
button:hover {
  background-color: var(--Soft-Magenta);
  color: white;
  transition: 0.2s;
}

/* Section Two */
.section-two {
  display: grid;
  justify-items: center;
  gap: 25px;
}

/* Social Icons Container*/
.social-icons {
  position: absolute;
  bottom: 30px;
  right: 150px;
  display: flex;
  gap: 20px;
}

/* Social Icons */
i {
  font-size: 2.5rem;
  color: white;
}

/* Social Icons On Hover */
i:hover {
  color: var(--Soft-Magenta);
}

/* Mobile View */
@media (max-width: 769px) {
  .wrapper {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    background-color: var(--Violet);
    background-image: url(./images/bg-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center top;
      padding: 2rem 1.125rem;
  }

  img {
    width: 100%;
  }

  /* Logo */
  .logo {
    align-self: flex-start;
    margin-bottom: 1.5rem;
    position: relative;
    width: 150px;
    inset: 0;
  }

  .illustrations {
    display: block;
    width: 100%;
  }


  /* Text Styles */
  .title {
    font-family: "Poppins", sans-serif;
    font-size: 1.7rem;
    color: #fff;
    text-transform: capitalize;
    width: 100%;
    text-align: center;
  }

  p {
    color: rgba(255, 255, 255, 0.712);
    font-size: 1.1rem;
    line-height: 1.5;
    width: 80%;
    text-align: center;
  }

  /* Register Button */
  button {
    color: var(--Violet);
    font-size: 1rem;
    background-color: #fff;
    width: 200px;
    height: 40px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    border: 0;
    border-radius: 30px;
    position: relative;
    right: 0;
    margin-bottom: 50px;
  }

  /* Button On Hover */
  button:hover {
    background-color: var(--Soft-Magenta);
    color: white;
    transition: 0.2s;
  }

  /* Section One */
  .section-one {
    margin-bottom: 3rem;
  }

  /* Section Two */
  .section-two {
    text-align: center;
    max-width: 700px;
  }

  .section-two h1 {
    font-size: 2rem;
    width: 100%;
  }
  .section-two p {
    width: 100%;
  }

  /* Social Icons Container*/
  .social-icons {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    inset: 0;
  }

  /* Social Icons */
  i {
    font-size: 1.5rem;
    color: white;
  }

  /* Social Icons On Hover */
  i:hover {
    color: var(--Soft-Magenta);
  }

}